    <!-- FOOTER -->
    <footer class="text-center">
      <div class="grid-container">
          <img class="footer-brand" src="//cf-cdn.infobip.com/assets/2020/img/footer-logo.svg" alt="Logo">
          <h3 class="slogan">Worlds Connected</h3>
          <div class="social-icons">
              <ul>
                  <li><a href="https://twitter.com/Infobip" class="social-icon"><img src="//cf-cdn.infobip.com/assets/2020/img/ic-footer-twitter.svg" alt="Twitter icon"></a></li>
                  <li><a href="https://www.linkedin.com/company/infobip" class="social-icon"><img src="//cf-cdn.infobip.com/assets/2020/img/ic-footer-linkedin.svg" alt="LinkedIn icon"></a></li>
                  <li><a href="https://www.facebook.com/infobip" class="social-icon"><img src="//cf-cdn.infobip.com/assets/2020/img/ic-footer-facebook.svg" alt="Facebook icon"></a></li>
              </ul>
          </div>
          <nav class="navigation terms-navigation">
              <ul>
                  <li><a href="https://www.infobip.com/policies/terms" target="_blank">Service Terms & Conditions</a></li>
                  <li><a href="https://www.infobip.com/policies/privacy" target="_blank">Privacy Notice</a></li>
                  <!-- <li><a href="https://www.infobip.com/policies/short-code" target="_blank">Shortcode terms</a></li> -->
                  <li><a href="https://www.infobip.com/terms-of-use" target="_blank">Terms of use</a></li>
              </ul>
          </nav>
          <small>Copyright © 2006 -
            <script>
                var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)
            </script> 
            Infobip ltd.
          </small>
      </div>
  </footer>